block wrapper
  .form-item(class=uuid)
    block label_wrapper
      if label
        label.form-item__label(for=attr.id)
          block label
            | #{label}
    block item_wrapper
      .form-item__input
        block input
          input&attributes(attr)
