block wrapper
  .form-item
    block label_wrapper
      if label
        label.form-item__label(for=id)
          block label
            | #{label}
    block item_wrapper
      .form-item__input
        block input
          input(type=type, id=id)
