.form
  .form-errors
    .form-error
      .text Error Message
  .form-fields
    .field-wrapper
      label(for='field') Field Name
      input.field
    .field-wrapper
      label(for='field') Field Name
      input.field
    .field-wrapper
      label(for='field') Field Name
      input.field
    .field-wrapper
      label(for='field') Field Name
      input.field
  .form-actions
    button Button
